* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-family: inherit;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav,
footer,
header,
section {
  display: block;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 1024px;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f9f8ff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

._container {
  max-width: 1667px;
}

.container {
  margin: 0 5% 0 15%;
  height: fit-content;
  justify-content: center;
}

.bg {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
}

.hero__bg {
  background: url("img/hero/hero-back.png") no-repeat center center;
  padding: 264px 0;
  height: 100%;
  background-size: auto 100%;
}

.hero {
  position: relative;
}

.hero__navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 500;
  padding: 33px 60px;
}

.navbar__logo {
  width: 259px;
}

.navbar__logo-pic {
}

.navbar-items__item {
  padding-bottom: 5px;
  white-space: nowrap;
  position: relative;
  display: inline;
  line-height: 40px;
}

.navbar-items__item:hover {
  border-bottom: 4px solid #ffffff;
  top: -2px;
}

.navbar-items {
  font-size: 80%;
}

.navbar-items__item:not(:last-child) {
  margin-right: 30px;
}

.button {
  background-color: #ffffff;
  color: #57b3fe;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 200px;
  inline-size: 200px;
  white-space: nowrap;
}

.button:hover {
  box-shadow: rgba(255, 254, 254, 0.297) 0px 7px 29px 0px;
}

.hero__title {
  text-align: center;
  font-size: 62px;
  font-weight: 500;
  line-height: 88px;
}

.hero__subtitle {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  opacity: 80%;
}

.hero_button {
  margin: 41 auto;
}

.hero__image-block {
  margin-top: -40%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.hero__image {
  width: 90%;
}

.what-you-get {
  height: fit-content;
  margin-bottom: 10%;
}

.what-you-get__bg {
  background: url("img/what-you-get/bg.png") no-repeat center center;
  height: fit-content;
  background-size: contain;
}

.what-you-get__title {
  color: #00a077;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  opacity: 50%;
}

.what-you-get__subtitle {
  color: #3b3e43;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  width: 528px;
  margin-bottom: 30px;
}

.what-you-get__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.what-you-get_cards-card {
  box-shadow: 0px 20px 50px 0px rgb(59, 62, 67, 0.05);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 15px 0 45px;
  width: 30%;
}
.card {
  min-width: 300px;
  max-width: 30%;
}

.card__icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card__icon-pic {
  width: 20px;
}

.card__title {
  color: #595e64;
  font-weight: 700;
  margin-bottom: 15px;
}
.card__text {
  color: #595e64;
  margin-bottom: 50px;
}

.our-process {
}

.our-process__bg {
  background: url("img/our-process/bg.png") no-repeat center center;
  height: fit-content;
  background-size: 100% 100%;
  justify-content: center;
}

.our-process__title {
  padding-top: 160px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 122%;
  opacity: 0.5;
  text-align: center;
}

.our-process__subtitle {
  padding-top: 14px;
  font-size: 48px;
  font-weight: 500;
  line-height: 122%;
  text-align: center;
}

.our-process__subtext {
  padding-top: 24px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.our-process__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 32px;
}
.our-process__card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  display: flex;
}

.our-process__card-image {
  width: 40%;
}
.our-process__card-image_pic {
  width: 100%;
}
.our-process__card-text {
  width: 60%;
}
.our-process__card-icon {
}
.our-process__card-title {
  color: #3b3e43;
}
.our-process__card-desc {
  color: #595e64;
}
