* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}

h1 {
  font-family: inherit;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav,
footer,
header,
section {
  display: block;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

._container {
  max-width: 1667px;
}
.bg {
  width: 100%;
  height: 100%;
  background: url("img/hero-back.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 264px 0;
}

.hero {
  position: relative;
}

.hero__navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 33px 60px;
}

.navbar__logo {
}

.navbar-items__item {
  padding-bottom: 5px;
  white-space: nowrap;
  position: relative;
}

.navbar-items__item:hover {
  border-bottom: 4px solid #ffffff;
  top: -2px;
}

.navbar-items {
  font-size: 16px;
  margin: 0 20px;
}

.navbar-items__item {
  display: inline;
  line-height: 40px;
}

.navbar-items__item:not(:last-child) {
  margin-right: 30px;
}

.button {
  background-color: #ffffff;
  color: #57b3fe;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 200px;
  inline-size: 200px;
  white-space: nowrap;
}

.button:hover {
  box-shadow: rgba(255, 254, 254, 0.297) 0px 7px 29px 0px;
}

.hero__title {
  text-align: center;
  font-size: 68px;
  font-weight: 500;
  line-height: 88px;
}

.hero__subtitle {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  opacity: 80%;
}

.hero_button {
  margin: 41 auto;
}

.hero__image {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
